.resetpassword-form-button {
  width: 100%;
  background: gray !important;
  border: none;
  box-shadow: 0 4px 8px 0 grey;
  opacity: 1 !important;
}

.resetpassword-form-button {
  background-color: black !important;
}

.resetpassword-form-button:hover {
  background-color: grey !important;
}
