.existing-workspace{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (max-width: 767px){
    .existing-workspace{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.heading-fontandcolour{
    color: black;
    font-size: 15px;
    font-weight: bold;
    
  }
  .spacing{
      width:100%;
      height:100%;
  }
.responsive-list {
    display: flex;
    flex-direction: reverse row;
    flex-wrap: wrap;
    justify-content: right;
}
