.start-workspace-container {
  width: 400px;
  // min-height: 580px;
  // padding-top: 13px !important;
  background: white;
}

.start-workspace-subtitle {
  margin-bottom: 2px;
}

.start-workspace-form-image {
  // margin-top: 10px;
  width: 100%;
}

hr {
  opacity: 0.3;
}
